Flow attributes and Receiver capabilities to support ST 2110-22 and JPEG XS

## Flow attributes

The [Flow Attributes](https://specs.amwa.tv/nmos-parameter-registers/branches/main/flow-attributes/) register says:

> As noted in [IS-04 v1.3](https://specs.amwa.tv/is-04/v1.3/docs/4.3._Behaviour_-_Nodes.html#sources--flows), new Flow attributes may be defined here as opposed to requiring a new version of the specification.

The existing entries in this register do not define new attributes, only additional values that can be used with the existing Video Flow attributes, `colorspace` and `transfer_characteristic`.

To support ST 2110-22 and specifically JPEG XS, we propose adding two new entries in this register.

### components or color_sampling

Color (sub)sampling is an important property of a video stream, of both uncompressed and compressed formats. This characteristic is often part of what defines "operating points" or "profiles and levels" of a particular format and transmitters and receivers may only support a subset of the color (sub)sampling modes.

For IS-04 `video/raw` Flows, this information is carried in a `components` attribute defined in IS-04 [Raw Video Flow](https://specs.amwa.tv/is-04/releases/v1.3.1/APIs/schemas/with-refs/flow_video_raw.html) schema. However, since that's where it is defined, it can't be used with Coded Video Flows.

We propose to define a `components` attribute in the Flow Attributes register that can be used with the IS-04 [Coded Video Flow](https://specs.amwa.tv/is-04/releases/v1.3.1/APIs/schemas/with-refs/flow_video_coded.html) schema, with an identical definition/schema as in IS-04 v1.3.1 Raw Video Flow schema mentioned above.

This duplication of the definition has pros and cons:

* On the plus side, it means that applications that handle it and map between this way of expressing color (sub)sampling and e.g. SDP format-specific parameter `sampling` may work as is.
* On the downside, the duplication invites later specification divergence/maintenance issues. In a future IS-04 minor version-up, this could be resolved by refactoring the schemas so that the definition of `components` was in the parent _flow_video.json_ schema, potentially linked to the Flow Attributes register in the same way as `colorspace` and `transfer_characteristic`. However, a significant reason for the Flow Attributes register is to avoid the need for such an IS-04 version-up.

An alternative proposition would be to define a `color_sampling` attribute instead, using mnemonic string values, as in the SDP `sampling` parameter. This is already how the `urn:x-nmos:cap:format:color_sampling` capability is defined in the [Capabilities](https://specs.amwa.tv/nmos-parameter-registers/branches/main/capabilities/) register. Such a `color_sampling` attribute could be permitted on any Video Flow, including even Raw Video Flows.

Pros and cons:

* On the plus side, this would provide simpler matching between Flow and Receiver capabilities.
* On the downside, the values are more opaque than the `components` style, and if permitted on `video/raw` Flows, the information would be duplicated between the two attributes. Moreover, existing application handling of `components` would still be required.

### bit_rate

For compressed video streams, the bit rate is another important characteristic that distinguishes different Tx/Rx operating points.

We propose to define a `bit_rate` attribute in the Flow Attributes register for Coded Video Flows, i.e. to be used with the IS-04 Coded Video Flow schema.

The easiest approach would be to follow the spec of ST 2110-22 for the `b=AS:` SDP line. The [RFC 4566 Section 6](https://datatracker.ietf.org/doc/html/rfc4566#section-6) definition of application-specific bandwidth is very brief... "the application's concept of maximum bandwidth" with no unit specified. It refers to [RFC 3550](https://datatracker.ietf.org/doc/html/rfc3550) "session bandwidth", which is an "aggregate limit to be divided among the participants". On the other hand, ST 2110-22 has adjusted the meaning of this attribute slightly and is much more precise:

> [The value] shall be the average bit rate for one video frame, i.e. the number of bits per frame divided by the frame period.  It shall be expressed as an integer number of kilobits per second, where kilobit means 1000 bits, rounding up if necessary.  The bit rate shall be for the IP packets, i.e. IP headers and payload.

Some issues:

* Average bit rate vs. maximum. Mostly the streams we deal with are fairly constant bit rate. We propose defining `bit_rate` as in ST 2110-22, leaving `max(imum)_bit_rate` for the future.
* An NMOS Flow is intended to capture those properties of the stream which are independent of the transport. Describing the bit rate including the IP headers as well as the payload, seems contrary to this.

## Capabilities

The [Capabilities](https://specs.amwa.tv/nmos-parameter-registers/branches/main/capabilities/) register defines a top-level namespace for attributes of the `caps` sub-object of e.g. Receivers. It also defines Parameter Constraints which are used within the `constraint_sets` attribute of `caps`, per [BCP-004-01](https://specs.amwa.tv/bcp-004-01).

### urn:x-nmos:cap:format:bit_rate

We propose to define an integer parameter constraint that can be used to indicate the capability of a Receiver with respect to compressed video streams. Its target property would be the `bit_rate` Flow attribute defined above and/or the SDP `b=AS:` value.

The same issues (average vs. maximum, and format vs. transport) need to be resolved here.

## Properties not proposed as Flow attributes or Receiver capabilities

The color (sub)sampling and the bit rate seem to be the two most important characteristics of an ST 2110-22 JPEG XS stream that are not already represented in the IS-04 data model.

The [RFC 9134](https://www.rfc-editor.org/rfc/rfc9134.html) (updated link) defines many format-specific parameters in common with the `video/raw` SDP format, and there are already equivalent IS-04 attributes for these in the parent Video Flow schema.
We don’t believe any new values present a problem. (There’s the slight inconsistency in the definition of `RANGE` between ST 2110-20 and this RFC, but `RANGE` isn’t currently mapped into NMOS.)
The new JPEG XS-specific parameters, `packetmode`, `transmode`, `profile`, `level` and `sublevel`, could be added as Flow attributes but we have not identified a good reason to do so. They do not seem to provide any more information for partitioning Receiver capabilities than is already available in other attributes such as the video `frame_width`, `frame_height`, `interlace_mode`, `grain_rate`, etc. which are already captured.
 
It would be reassuring if we demonstrate this, for example by showing how the Capability Sets enumerated in VSF [TR-08](https://www.videoservicesforum.tv/download/technical_recommendations/VSF_TR-08_2021-08-09.pdf) become IS-04 Receiver caps.


I think that in general SDP attributes that migrate into NMOS objects should keep the meaning they have in an SDP file as per ST-2110 standards and associated technical recommendations. So I would go with urn:x-nmos:cap:format:color_sampling and a bit_rate property that matches the SDP file b=AS: attribute definition.

It looks like this has all been given thorough consideration so I don't think I have a lot to add.

From memory I believe `components` was originally omitted from coded video Flows given a concern that some of the data may be unavailable or challenging to parse for certain codecs or use cases. I can't however immediately identify a case where this would present a major issue, particularly if the attribute remains optional in the general case.

I'm not too concerned about issues with an IS-04 version up as I think any such update should be done whilst giving consideration to any additions to the parameter registers (merging them into core if sensible). Adding a second (simpler) parameter which signals the same thing is tempting, but unless there is an additional advantage to this beyond its visual simplicity I'd be inclined to stick with what we have already.

With regard to bit rate I have similar concerns about definition with respect to ABR/CBR, and the fact it could be tied to a specific IP transport method and MTU. Ideally the relation to packetisation would be signalled at the Sender, with the pure coded bitstream rate living in the Flow. Assuming a divergence from the ST.2110-22 standard is undesirable, perhaps we could reserve `bit_rate` for future use (relating to the pure Flow), but signal an attribute like `stream_bit_rate` which suggests the likely stream bit rate using the existing definition?

> unless there is an additional advantage to this beyond its visual simplicity I'd be inclined to stick with what we have already.

I agree. And it's worth pointing out that making the proposed `components` object is straightforward given SDP `sampling`, `width`, `height` and `depth` values permitted in ST 2110-20 and JPEG XS (and the venerable RFC 4175 itself).

I will make a PR to add `components`. I will investigate providing a JSON Schema to provide validation of all the parameters added to this register that can be used alongside the IS-04 Flow schema (similar to the Capabilities register approach for `constraint_sets`).


> Ideally the relation to packetisation would be signalled at the Sender, with the pure coded bitstream rate living in the Flow.

Right... Another example of the same issue, I think, is audio packet time. We have the corresponding Receiver capability for this, but on the Sender side didn't add a Flow attribute because it is transport stream related.


I would go with option A. It seems to me that a patch release, v1.3.2 would only add some normative text to declare that Sender objects may have additional properties as specified in the NMOS Parameter Register. Is it really required to have a patch release ? because the schemas already allow such properties.

not sure i agree with the notion that the compression properties (bit rate, etc) should be tied to the sender.  My understanding of the model is that flow indicates representation - the distinction between video/raw and video/jxsv for example is a flow property.  The bit-rate property is defined in 2110-22 and includes the IP overhead of the packets, so there is a very minor transport dependency, but first-order (and second-order) the bit rate is driven by the bits-per-pixel choice in the JPEG-XS representation, which to me seems like a Flow property, and its surprisingly missing from the video_flow_coded schema.  

regarding packet-time of audio, i am more persuaded that this could be a sender property, though its range of values is significantly constrained by the number of channels which is oddly a property of the Source.  I don't think packet-time is out of place as a Flow property, but certainly can be well argued either way.

> not sure i agree with the notion that the compression properties (bit rate, etc) should be tied to the sender.

I think we all agree with that, compression is a facet of the Flow.

> there is a very minor transport dependency

Right. This overhead is what, 1-2%? Perhaps not worth getting hung up on! So... Define and register `bit_rate` as a Flow attribute with general utility but allow media types to define precise application-specific semantics, as ST 2110-22 does.


"the bit rate is driven by the bits-per-pixel choice in the JPEG-XS representation"

This may be true for JPEG-XS but for more general compression schemes it relates to the algorithms used for compression (compression algorithms and rate-control algorithm). I agree that the major part of a ST 2110-22 bit rate specification in the SDP transport file comes from the compression algorithms. To better capture the bit rate characteristic of a Flow we may want to have a compression_bit_rate property in a Flow that would correspond to the compression contribution to the SDP transport file bit rate attribute.

Those examples are still all appropriately captured in the Flow. It is only the small contribution of transport overhead that led to any concern.